<!DOCTYPE html>

   

<main role="main" class="main">
    <div class="container">
    
                
        <div id="main-slide-wrap">
            <div id="main-slide">
                <div class="main-slide">
                                        <div class="slide-item whole-click" >
                        <div class="caption">
                            <img src=<%=asset_path "evento1.jpg" %> >
                            <h2><a href="">La Paz de noche</a></h2>
                        </div>
                    </div>
                    <div class="slide-item whole-click" >
                        <div class="caption">
                            <img src=<%=asset_path "evento2.jpg" %>>
                            <h2><a href="">La Paz de noche</a></h2>
                        </div>
                    </div>
                    
                                        
                                        <div class="slide-item whole-click" >
                        <div class="caption">
                            <img src=<%=asset_path "evento4.jpg" %>>
                            <h2><a href="">Cochabamba</a></h2>
                        </div>
                    </div>
                                    </div>
            </div>  
            <div id="main-slide-pager">
                                <a data-slide-index="0" href="/posts">
                    <strong>Foros Virtuales</strong>
                    Escenario de comunicacion, donde se propicia el debate, la concertación y el concenso de ideas             </a>
                                <a data-slide-index="1" href="/turismo">
                    <strong>Turismo</strong>
                    Diversa cultura, regiones geográficas, rica historia y gastronomía        </a>
                                <a data-slide-index="2" href="">
                    <strong>Pulso económico</strong>
                    Actualidad, análisis y opinión             </a>
                            </div>
        </div>
        
                
    </div>
</main>



<div id="accesos-slide">
    <div class="container">
        <div class="accesos-slide">
            
                       <div class="slide-item whole-click">
                <div class="slide-thumb" >
                    <div class="caption">
                        <img src=<%=asset_path "casoexito.jpg" %>>
                        <h2><a href="">CASOS DE ÉXITO</a></h2>
                                            </div>
                </div>
            </div>
                        <div class="slide-item whole-click">
                <div class="slide-thumb" >
                    <div class="caption">
                        <img src=<%=asset_path "casoexito2.jpg" %>>
                        <h2><a href="">LANZAMIENTOS</a></h2>
                                            </div>
                </div>
            </div>
             <div class="slide-item whole-click">
                <div class="slide-thumb" >
                    <div class="caption">
                        <img src=<%=asset_path "casoexito.jpg" %>>
                        <h2><a href="">REVISTA</a></h2>
                                            </div>
                </div>
            </div>
             <div class="slide-item whole-click">
                <div class="slide-thumb" >
                    <div class="caption">
                        <img src=<%=asset_path "casoexito.jpg" %>>
                        <h2><a href="">FERIA VIRTUAL</a></h2>
                                            </div>
                </div>
            </div>
                        
        </div>
    </div>
</div>

<div id="acceso-sectores-estrategicos">
    <div class="container">
        
        <h3>EMPRESAS MIEMBRO</h3>
        
            <style>
                #acceso-sectores-estrategicos ul li {
                    width: 50%;
                }
                @media (min-width: 48em){
                    #acceso-sectores-estrategicos ul li {
                        width: 11.111111111111%;
                    }
                }
            </style>
            <ul>           
             <li><img width="60" height="60"src=<%=asset_path "fun1.jpg" %> ></li>
             <li><img width="58" height="58"src=<%=asset_path "fun2.jpg" %>></li>
             <li><img width="60" height="60"src=<%=asset_path "fun3.jpg" %>></li>
             <li><img width="62" height="60"src=<%=asset_path "fun4.jpg" %>></li>
             <li><img width="60" height="60"src=<%=asset_path "fun5.jpg" %>></li>
             <li><img width="60" height="60"src=<%=asset_path "fun6.jpg" %>></li>
             <li><img width="60" height="60"src=<%=asset_path "fun7.png" %>></li>
             <li><img width="60" height="60"src=<%=asset_path "fun8.jpg" %>></li>
             <li><img width="60" height="60"src=<%=asset_path "fun9.jpg" %>></li>
                  
                    
        <ul>        
    </div>
</div>
            
    <div id="bottom">
    <div class="container">
        
        <nav>
            <div>
                <h3>Productos con sello</h3><ul class=""><li id="menu-item-5295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5295"><a title="Banca Electrónica" href="/producto1">IMBA</a></li>
<li id="menu-item-2130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2130"><a href="">COBOCE</a></li>
<li id="menu-item-2131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2131"><a href="">PIL</a></li>
<li id="menu-item-2132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2132"><a href="">DURALIT</a></li>
<li id="menu-item-2134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2134"><a href="">CIMCO</a></li>

</ul>           </div>
            <div>
                <h3></h3><ul class=""><li id="menu-item-2441" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2441"><a href="/producto1">IMBA</a></li>
<li id="menu-item-2440" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2440"><a href="">COBOCE</a></li>
<li id="menu-item-2442" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2442"><a href="">PIL</a></li>
<li id="menu-item-2443" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2443"><a href="">DURALIT</a></li>
<li id="menu-item-2444" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2444"><a href="">CIMCO</a></li>

</ul>           </div>
            
</div>


    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js?ver=1.11.0'></script>


<script type='text/javascript' src='http://www.bancomext.com/wp-content/themes/bancomext/assets/vendor/js/jquery.fancybox.pack.js?ver=1.0'></script>

<script type='text/javascript' src='http://www.bancomext.com/wp-content/themes/bancomext/assets/vendor/js/jquery.bxslider.min.js?ver=1.0'></script>


<script type='text/javascript' src='http://www.bancomext.com/wp-content/themes/bancomext/assets/vendor/js/bootstrap.min.js?ver=1.0'></script>

<script type='text/javascript' src='http://www.bancomext.com/wp-includes/js/hoverIntent.min.js?ver=r7'></script>

<script type='text/javascript' src='http://www.bancomext.com/wp-content/themes/bancomext/assets/frontend/js/app.min.js?ver=1.1423172626'></script>
    </body>
</html>